<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=kepek;AccountKey=kjhsakdhakdhaskjdhwouwqdpd654d5 w6d864dwqjfhf//==" />
  </appSettings>
</configuration>
